<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tdms.mahyco.nxg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!--
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE  " />
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trial Data Management"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup">
        <activity android:name=".Rainfall"></activity>
        <!-- <***GIS VAPT 2021 UPDATE***> "usesCleartextTraffic=false" -->
        <activity
            android:name=".SowingActivityNew"
            android:exported="false" />
        <activity
            android:name=".DownloadObservationActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MDOSurveyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".survey"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register_user"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".areatag"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newAreaTag"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alreadyTag"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidDatabaseManager"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Testimonial"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SelectObsOpnTrialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FeedbackDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TravelManagement.MyTravel"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".forget_password"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_report"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pld_not_sown"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportDashboard.ReportDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportDashboard.MDOweeklyPlanReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapDirection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMfshbtXMD9H0HVF3r1KlLSXmgMWSgtZk" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tdms.mahyco.nxg.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>